#container {
    height: auto;
    width: 960px;
}
.main-div {
    width: auto;
    display: flex;
    background: gainsboro;
}

.hovered {
    background-color: white;
}

.sketch {
    background-color: black;
}